server:
  port: 8087
spring:
  application:
    name: FlightService   # Name of the microservice
  config:
    import: optional:configserver:http://localhost:8082

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework: INFO
    com.netflix.discovery: DEBUG
    org.springframework.cloud: DEBUG

